
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <h1 class="text-center">Bem vindo ao site Cadastre curriculo Online</h1>
        <h4 class="text-center">Antes de iniciar faça-se o login</h4>
    </div>
</div>

